.btn-submit {
    color: black;
    background-color: #F7CB56;
    cursor: pointer;
    border-radius: 25px;
    border-width: 2px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}
.btn-submit:hover {
    background-color: white;
 
}